@page "/addcourses"
@inject CourseService _courseService
@inject SchoolClassService _schoolClassService
@inject SchoolClassCourseService _schoolClassCourseService
@inject NavigationManager _navigation


@if (Courses != null && SchoolClass != null)
{
	<BSContainer Class="d-flex justify-content-center align-items-center vh-100">
		<BSCard Class="p-4 shadow-lg" Style="width: 350px;">
			<BSCard>
				<h2 class="mb-4" style="margin-left:50px;">Select Courses</h2>
				<BSLabel style="margin-left:50px;">@SchoolClass.SchoolClassName</BSLabel>

				<EditForm Model="@Courses" style="margin:60px;">
					<ul>
						@foreach (var course in Courses)
						{
							<li>
								<InputCheckbox @bind-Value="@course.Selected"></InputCheckbox>
								<BSLabel>@course.CourseName</BSLabel>
							</li>
						}
					</ul>
					<BSButton Color="BSColor.Primary" @onclick="CreateSchoolClassCourses" style="margin-left:20px;">Add Courses</BSButton>

				</EditForm>
				<BSButton Color="BSColor.Primary" @onclick="NavigateToCourseDashboard">Course Dashboard</BSButton>
			</BSCard>
		</BSCard>
	</BSContainer>
}



@*
<pre>@ModelJson</pre>
<pre>@RequestJson</pre> *@

