@page "/courseoverview"
@inject NavigationManager _navigation
@inject LearningModuleService _learningModuleService
@inject CodelabService _codelabService
@inject StudentCodelabService _studentCodelabService
@inject StateContainer _stateContainer
@inject CourseService _courseService


<h3>Course Overview</h3>
@if (Course != null)
{
	<h4>@Course.CourseName Course</h4>
	@if (User.Role == "Coach")
	{
		<BSButton Color="BSColor.Primary" class="course-button" type="button" @onclick="()=>AddModule()">Add Module</BSButton>
	}

	<ul>
		@foreach (var module in Course.Modules)
		{
			<BSCard Class="p-4 shadow-lg" Style="width:auto;">
				<li>
					@if (User.Role == "Student")
					{
						<BSLabel>Module : @module.ModuleName</BSLabel>
					}
					else if (User.Role == "Coach")
					{
						@if (module.Edit == false)
						{
							<BSLabel>Module : @module.ModuleName</BSLabel>
							{
								<BSButton Color="BSColor.Primary" @onclick="()=>ChangeEditModule(module.LearningModuleId)">Edit</BSButton>
								<BSButton Color="BSColor.Primary" @onclick="()=>AddModule(module.LearningModuleId)">Add Submodule</BSButton>
								<BSButton Color="BSColor.Primary" @onclick="()=>AddCodelab(module.LearningModuleId)">Add Codelab</BSButton>
								<BSButton Color="BSColor.Primary" @onclick="()=>DeleteModule(module.LearningModuleId)">Delete</BSButton>
								if (SchoolClassId > 0 && module.Codelabs.Count > 0)
								{
									<BSButton Color="BSColor.Primary" @onclick="()=>NavigateToProgression(module.LearningModuleId)">Progression</BSButton>
								}
							}
						}
						else
						{
							<BSForm Model="@Module" FormName="ModuleName@ModuleId" Name="@($"ModuleName{Module.LearningModuleId}")">
								@if (Errors != null)
								{
									foreach (var error in Errors)
									{
										<BSAlert Color="BSColor.Danger">@error.Name, @error.Message, @error.Value</BSAlert>
									}
								}
								<BSLabel>Name</BSLabel>
								<BSInput InputType="InputType.Text" @bind-Value=Module.ModuleName>@Module.ModuleName</BSInput>
								<BSButton Color="BSColor.Primary" @onclick="EditModuleName">Ok</BSButton>
							</BSForm>
						}
					}
					@foreach (var codelab in module.Codelabs)
					{
						<CodelabDisplay Codelab="@codelab" Errors="@Errors" Statuses="@Statuses" ReloadParentAsync="@ReloadCourseAsync"></CodelabDisplay>
					}
				</li>
			</BSCard>

			if (module.SubModules.Count > 0)
			{
				foreach (var submodules in module.SubModules)
				{
					<BSCard Class="p-4 shadow-lg" Style="width:auto;">
						<ul>
							<li>
								@if (User.Role == "Student")
								{
									<BSLabel>Submodule : @submodules.ModuleName</BSLabel>
								}
								else if (User.Role == "Coach")
								{
									@if (submodules.Edit == false)
									{
										<BSLabel>Submodule : @submodules.ModuleName</BSLabel>
										<BSButton Color="BSColor.Primary" @onclick="()=>ChangeEditSubmodule(submodules.LearningModuleId)">Edit</BSButton>
										<BSButton Color="BSColor.Primary" @onclick="()=>AddCodelab(submodules.LearningModuleId)">Add Codelab</BSButton>
										<BSButton Color="BSColor.Primary" @onclick="()=>DeleteSubmodule(submodules.LearningModuleId)">Delete</BSButton>
										if (SchoolClassId > 0 && submodules.Codelabs.Count > 0)
										{
											<BSButton Color="BSColor.Primary" @onclick="()=>NavigateToProgression(submodules.LearningModuleId)">Progression</BSButton>
										}
									}
									else
									{
										<BSForm Model="@Submodule" FormName="SubmoduleName@ModuleId" Name="@($"SubModuleName{Submodule.LearningModuleId}")">
											@if (Errors != null)
											{
												foreach (var error in Errors)
												{
													<p style="color:red">@error.Name, @error.Message, @error.Value</p>
												}
											}
											<BSLabel>Name</BSLabel>
											<BSInput InputType="InputType.Text" @bind-Value=Submodule.ModuleName>@Submodule.ModuleName</BSInput>
											<BSButton Color="BSColor.Primary" @onclick="EditSubmoduleName">Ok</BSButton>
										</BSForm>
									}
								}
							</li>
							@foreach (var codelab in submodules.Codelabs)
							{
								<CodelabDisplay Codelab="@codelab" Errors="@Errors" Statuses="@Statuses" ReloadParentAsync="@ReloadCourseAsync"></CodelabDisplay>
							}
						</ul>
					</BSCard>
				}
			}
		}
	</ul>

	@if (NewModule != null && NewModule.Edit == true)
	{
		<BSForm Model="@NewModule" FormName="NewModuleName@ModuleId" Name="@($"NewModuleName{NewModule.ModuleName}")">
			@if (Errors != null)
			{
				foreach (var error in Errors)
				{
					<BSAlert Color="BSColor.Danger">@error.Name, @error.Message, @error.Value</BSAlert>

				}
			}
			<BSLabel>Name</BSLabel>
			<BSInput InputType="InputType.Text" @bind-Value=NewModule.ModuleName>@NewModule.ModuleName</BSInput>
			<BSButton Color="BSColor.Primary" @onclick="CreateModule">Ok</BSButton>
		</BSForm>
	}
	@if (NewCodelab != null && NewCodelab.Edit == true)
	{
		<BSForm Model="@NewCodelab" FormName="NewCodelabName@CodelabId" Name="@($"CodelabName{NewCodelab.Name}")">
			@if (Errors != null)
			{
				foreach (var error in Errors)
				{
					<BSAlert Color="BSColor.Danger">@error.Name, @error.Message, @error.Value</BSAlert>

				}
			}
			<BSLabel>Name</BSLabel>
			<BSInput InputType="InputType.Text" @bind-Value=NewCodelab.Name>@NewCodelab.Name</BSInput>
			<BSLabel>Description</BSLabel>
			<BSInput InputType="InputType.Text" @bind-Value=NewCodelab.Description>@NewCodelab.Description</BSInput>
			<BSButton Color="BSColor.Primary" @onclick="CreateCodelab">Ok</BSButton>
		</BSForm>
	}
}
