@page "/courseoverview"
@inject NavigationManager _navigation
@inject AuthenticationService _authentication
@inject LearningModuleService _learningModuleService
@inject CodelabService _codelabService
@inject StudentCodelabService _studentCodelabService


<h3>CourseOverview</h3>
@if (Course != null)
{
	<p>@Course.CourseName</p>
	@if (User.Role == "Coach")
	{
		<button type="button" @onclick="()=>AddModule()">Add Module</button>
	}

	<ul>
		@foreach (var module in Course.Modules)
		{
			<li>
				@if (User.Role == "Student")
				{
					<p>Learningmodule : @module.ModuleName</p>
				}
				else if (User.Role == "Coach")
				{
					@if (module.Edit == false)
					{

						<p>Learningmodule : @module.ModuleName</p>
						{
							<button type="button" @onclick="()=>ChangeEditModule(module.LearningModuleId)">Edit</button>
							<button type="button" @onclick="()=>AddModule(module.LearningModuleId)">Add Submodule</button>
							<button type="button" @onclick="()=>AddCodelab(module.LearningModuleId)">Add Codelab</button>
							<button type="button" @onclick="()=>DeleteModule(module.LearningModuleId)">Delete</button>
						}
					}
					else
					{
						<EditForm Model="@Module" OnSubmit="EditModuleName" FormName="ModuleName@ModuleId" Name="@($"ModuleName{Module.LearningModuleId}")">
							<label>Name</label>
							<InputText @bind-Value=Module.ModuleName>@Module.ModuleName</InputText>
							<button type="submit">Ok</button>
						</EditForm>
					}
				}
			</li>

			if (module.SubModules.Count > 0)
			{
				foreach (var submodules in module.SubModules)
				{
					<ul>
						<li>
							@if (User.Role == "Student")
							{
								<p>Submodule : @submodules.ModuleName</p>
							}
							else if (User.Role == "Coach")
							{
								@if (submodules.Edit == false)
								{
									<p>Submodule : @submodules.ModuleName</p>
									<button type="button" @onclick="()=>ChangeEditSubmodule(submodules.LearningModuleId)">Edit</button>
									<button type="button" @onclick="()=>AddCodelab(submodules.LearningModuleId)">Add Codelab</button>
									<button type="button" @onclick="()=>DeleteSubmodule(submodules.LearningModuleId)">Delete</button>
								}
								else
								{
									<EditForm Model="@Submodule" OnSubmit="EditSubmoduleName" FormName="SubmoduleName@ModuleId" Name="@($"SubModuleName{Submodule.LearningModuleId}")">
										<label>Name</label>
										<InputText @bind-Value=Submodule.ModuleName>@Submodule.ModuleName</InputText>
										<button type="submit">Ok</button>
									</EditForm>
								}
							}
						</li>
						@foreach (var codelab in submodules.Codelabs)
						{
							<ul>
								<li>
									@if (User.Role == "Student")
									{
										<p>Codelab : @codelab.Name</p>
										<p>Id : @codelab.CodelabId</p>
										<p>Description : @codelab.Description</p>

										<text>@{
												var studentCodelab = GetStudentCodelab(codelab.CodelabId);
											}</text>

										if ( studentCodelab != null)
										{
						
											 <EditForm Model="@studentCodelab" OnSubmit="()=>UpdateStudentCodelab(studentCodelab)" FormName="CodelabStatus" Name="@($"Codelab{codelab.CodelabId}")">
												<label>Status</label>
												<InputSelect id="codelabStatus" @bind-Value="studentCodelab.Status.StatusId">
													@foreach (var status in Statuses)
													{
														<option value="@status.StatusId">@status.StatusName</option>
													}
												</InputSelect>																
												<label>Comment</label>
												<InputText @bind-Value=studentCodelab.Comment></InputText>
												<button type="submit">Ok</button>
											</EditForm> 
										}
										else
										{
											<button type="button" @onclick="()=>CreateStudentCodelab(codelab.CodelabId)">Start</button>
										}
									}
									else if (User.Role == "Coach")
									{
										if (codelab.Edit == false)
										{
											<p>Codelab : @codelab.Name</p>
											<p>Description : @codelab.Description</p>
											<button type="button" @onclick="()=>ChangeEditCodelab(codelab.CodelabId)">Edit</button>
											<button type="button" @onclick="()=>DeleteCodelab(codelab.CodelabId)">Delete</button>
										}
										else
										{
											<EditForm Model="@Codelab" OnSubmit="EditCodelab" FormName="CodelabName@CodelabId" Name="@($"CodelabName{Codelab.CodelabId}")">
												<label>Name</label>
												<InputText @bind-Value=Codelab.Name>@Codelab.Name</InputText>
												<label>Description</label>
												<InputText @bind-Value=Codelab.Description>@Codelab.Description</InputText>
												<button type="submit">Ok</button>
											</EditForm>
										}
									}
									
								</li>
							</ul>
						}
					</ul>
				}
			}
			else
			{
				foreach (var codelab in module.Codelabs)
				{
					<ul>
						<li>
							@if (User.Role == "Student")
							{
								<p>Codelab : @codelab.Name</p>
								<p>Id : @codelab.CodelabId</p>
								<p>Description : @codelab.Description</p>

								<text>
									@{
										var studentCodelab = GetStudentCodelab(codelab.CodelabId);
									}
								</text>

								if (studentCodelab != null)
								{

									<EditForm Model="@studentCodelab" OnSubmit="()=>UpdateStudentCodelab(studentCodelab)" FormName="CodelabStatus" Name="@($"Codelab{codelab.CodelabId}")">
										<label>Status</label>
										<InputSelect id="codelabStatus" @bind-Value="studentCodelab.Status.StatusId">
											@foreach (var status in Statuses)
											{
												<option value="@status.StatusId">@status.StatusName</option>
											}
										</InputSelect>
										<label>Comment</label>
										<InputText @bind-Value=studentCodelab.Comment></InputText>
										<button type="submit">Ok</button>
									</EditForm>
								}
								else
								{
									<button type="button" @onclick="()=>CreateStudentCodelab(codelab.CodelabId)">Start</button>
								}
							}
							else if (User.Role == "Coach")
							{
								if (codelab.Edit == false)
								{
									<p>Codelab : @codelab.Name</p>
									<p>Description : @codelab.Description</p>
									<button type="button" @onclick="()=>ChangeEditCodelab(codelab.CodelabId)">Edit</button>
									<button type="button" @onclick="()=>DeleteCodelab(codelab.CodelabId)">Delete</button>
								}
								else
								{
									<EditForm Model="@Codelab" OnSubmit="EditCodelab" FormName="CodelabName@CodelabId" Name="@($"CodelabName{Codelab.CodelabId}")">
										<label>Name</label>
										<InputText @bind-Value=Codelab.Name>@Codelab.Name</InputText>
										<label>Description</label>
										<InputText @bind-Value=Codelab.Description>@Codelab.Description</InputText>
										<button type="submit">Ok</button>
									</EditForm>
								}
							}
						</li>
					</ul>
				}
			}
		}
	</ul>
	@if (NewModule != null && NewModule.Edit == true)
	{
		<EditForm Model="@NewModule" OnSubmit="CreateModule" FormName="NewModuleName@ModuleId" Name="@($"NewModuleName{NewModule.ModuleName}")">
			<label>Name</label>
			<InputText @bind-Value=NewModule.ModuleName>@NewModule.ModuleName</InputText>
			<button type="submit">Ok</button>
		</EditForm>
	}
	@if (NewCodelab != null && NewCodelab.Edit == true)
	{
		<EditForm Model="@NewCodelab" OnSubmit="CreateCodelab" FormName="NewCodelabName@CodelabId" Name="@($"CodelabName{NewCodelab.Name}")">
			<label>Name</label>
			<InputText @bind-Value=NewCodelab.Name>@NewCodelab.Name</InputText>
			<label>Description</label>
			<InputText @bind-Value=NewCodelab.Description>@NewCodelab.Description</InputText>
			<button type="submit">Ok</button>
		</EditForm>
	}
}



