@page "/editstudentprofile"
@inject NavigationManager _navigation
@inject LocalStorageService _localStorageService

<h3>EditStudentProfile</h3>

	

	<EditForm Model="@EditStudent" OnSubmit="UpdateProfile">

	@if (Errors != null)
	{
		foreach(var error in Errors)
		{
			<p style="color:red">@error.Name, @error.Message, @error.Value</p>
			
		}
	}
	<label>Name</label>
		<InputText id="studentName" @bind-Value="EditStudent.UserName"></InputText>
		<br />
		<br />
		<label>Email</label>
		<InputText id="studentEmail" @bind-Value="EditStudent.Email"></InputText>
		<br />
		<br />
		<label>Class</label>
		<InputSelect id="studentSchoolClass" @bind-Value="EditStudent.SchoolClassId">
			@foreach (var schoolClass in SchoolClasses)
			{
				<option value="@schoolClass.SchoolClassId">@schoolClass.SchoolClassName</option>
			}
	</InputSelect>
	<button type="submit">Submit</button>

	<br />
	<br />


	<button type="button" @onclick="NavigateToProfile">Cancel</button>

	</EditForm>


	
	

