@page "/editstudentprofile"
@using BlazorStrap
@inject NavigationManager _navigation
@inject StudentService _studentService
@inject SchoolClassService _schoolClassService

	
<BSContainer Class="d-flex justify-content-center align-items-center vh-100">
    <BSCard Class="p-4 shadow-lg" Style="width: 400px;">
        
            <h2>Form</h2>
       
       
            <BSForm Model="EditStudent">
                
                    <BSLabel For="name">Name</BSLabel>
                    <BSInput @bind-Value="EditStudent.UserName" Type="text" Id="name" Placeholder="Enter your name" />
                
                
                    <BSLabel For="email">Email</BSLabel>
                    <BSInput @bind-Value="EditStudent.Email" Type="email" Id="email" Placeholder="Enter your email" />
                
                
                    <BSLabel For="class">Class</BSLabel>
                    <BSInput InputType="InputType.Select" Class="w-100" @bind-Value="EditStudent.SchoolClassId">                      
                            @foreach (var schoolclass in SchoolClasses)
                            {
                                <option value="@schoolclass.SchoolClassId">@schoolclass.SchoolClassName</option>
                            }
                    </BSInput>
                
                <div class="d-flex justify-content-between mt-5" >
                    <BSButton Color="BSColor.Primary" OnClick="UpdateProfile">Submit</BSButton>
                    <BSButton Color="BSColor.Secondary" OnClick="NavigateToProfile">Cancel</BSButton>
                </div>
            </BSForm>
        
    </BSCard>
</BSContainer>

<div class="mt-3">
    @if (Errors != null)
    {
        <BSAlert Color="BSColor.Danger">
            <ul>
                @foreach (var error in Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </BSAlert>
    }
</div>













	@* <EditForm Model="@EditStudent" OnSubmit="UpdateProfile">

	@if (Errors != null)
	{
		foreach(var error in Errors)
		{
			<p style="color:red">@error.Name, @error.Message, @error.Value</p>
			
		}
	}
	<label>Name</label>
		<InputText id="studentName" @bind-Value="EditStudent.UserName"></InputText>
		<br />
		<br />
		<label>Email</label>
		<InputText id="studentEmail" @bind-Value="EditStudent.Email"></InputText>
		<br />
		<br />
		<label>Class</label>
		<InputSelect id="studentSchoolClass" @bind-Value="EditStudent.SchoolClassId">
			@foreach (var schoolClass in SchoolClasses)
			{
				<option value="@schoolClass.SchoolClassId">@schoolClass.SchoolClassName</option>
			}
	</InputSelect>
	<button type="submit">Submit</button>

	<br />
	<br />


	<button type="button" @onclick="NavigateToProfile">Cancel</button>

	</EditForm> *@


	
	

